<div class="container">
    <div class="row vertical-center">
        <div class=" col-md-4 offset-md-4 show-page">
          <p id="notice"><%= notice %></p>

              <p>
                <strong>Name:</strong>
                <%= @shop.name %>
              </p>

              <p>
                <strong>Description:</strong>
                <%= @shop.description %>
              </p>
   
            <br>
         
           <div class="text-center">
            <%= link_to 'Edit', edit_shop_path(@shop),:class => "btn btn-primary text-white" %> |
            <%= link_to 'Back', shops_path,:class => "btn btn-primary text-white" %>
           </div>
        </div>
    </div>
</div>
