<div class="container">
    <div class=row>
        <div class="col col-md-8 offset-md-2">
            <h1 class="text-center"> <%= @title%> </h1>
            <table class="table">
            <thead>
                <tr>
                <th>Name</th>
                <th>Description</th>
                <th colspan="3"></th>
                </tr>
            </thead>

            <tbody>
        
                <tr>
                    <td><%= @product %></td>
                    <td><%= @description %></td>
                    <td><%= link_to 'Show',regarder_path, :class => "btn btn-success text-white"%></td>
                </tr>
            
            </tbody>
            </table>
            <br>
            <%= link_to 'Nouveau Produit', new_product_path,:class => "btn btn-primary text-white" %>
        </div>
    </div>
</div>

<%# <div id="app">
  {{ message }}
</div> %>