

<div class="container">
    <div class="row vertical-center">
        <div class=" col-md-4 offset-md-4 show-page">
          <p id="notice"><%= notice %></p>

              <p>
                <strong>Name:</strong>
                <%= @product.name %>
              </p>

              <p>
                <strong>Description:</strong>
                <%= @product.description %>
              </p>


            <br>

           <div class="text-center">
            <%= link_to 'Edit', edit_product_path(@product),:class => "btn btn-primary text-white" %> |
            <%= link_to 'Back', products_path,:class => "btn btn-primary text-white" %>
           </div>
        </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="main-section">
          <div class="mt-3" id="messages-list">
            <% if @product.comments.any? %>
              <%= render partial: 'comments/comment', collection: @product.comments%>
            <% end %>
            <% @product.comments.each do |message| %>

            <% end %>
          </div>
          <div class="mt-3"  id="message-form">
            <%= render partial: 'comments/comment_form', locals: {comment: @comment, product: @product}%>
          </div>
        </div>
      </div>
    </div>
</div>
